.informationPanel {
    margin: auto;
    /* margin-top: 4%; */
    text-align: center;
    width: 55%;
    min-height: 680px;
}

.headings {
    color: #336699;
    font-size: 2.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.info {
    font-family: 'Roboto', sans-serif;
    color: #555555 !important;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.1;
    margin:auto;
    margin-top: 2%;
}

.tsiirPageLink {
    color: #337AC7;
    text-decoration: none;
}

.tsiirPageLink:hover,
.tsiirPageLink:active,
.tsiirPageLink.active {
    text-decoration: underline;
    color: #23527C;
}