.departmentStaffListHolder {
    width: 600px;  
    margin:auto;
    /* margin-top: 5%; */
    text-align: center;
}

.heading {
    font-family: 'Roboto', sans-serif;
    color: #555555 !important;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.1;
    margin:auto;
    margin-top: 2%;
    text-align: center;
}

.searchHolder {
    width: 400px;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 20px;
}