.departmentScheduleHolder {
    width: 40%;  
    margin:auto;
    /* margin-top: 5%; */
    text-align: center;
}

.heading {
    font-family: 'Roboto', sans-serif;
    color: #555555 !important;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.1;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.searchHolder {
    width: 60%;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.yearHolder, .weekHolder {
    color: #BD7569;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    font-size: 1.1em;
}

.weekHolder {
    color: #D34933;
}

.downloadExcelButton {
    width: 7%;
    height: 7%;
}

.downloadExcelButton:disabled {
    opacity: 0.4;
}

.alertHolder {
    width: 600px;
    text-align: center;
    margin:auto;
}