.Toolbar {
    height: 56px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #3A547F;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

@media (min-width: 1010px) {
    .Logo {
        display: none;
    }
}

@media (max-width: 1010px) {
    .Toolbar {
        justify-content: flex-end;
    }

    .DesktopOnly {
        display: none;
    }

    .Logo {
        position: absolute;
        left: 15px;
    }
}