.scheduleItemHolder{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.dateHolder {
    font-family: 'Roboto', sans-serif;
    background-color: #667A9A;
    color: white;
    text-align: left;
    padding: 1px 0 1px 7px;    
    font-size: 0.9em;
}

.infoHolder, .infoHolderWithNote {
    background-color: #F8F8F8;
    border-bottom: 2px solid lightgray;
    /* display: flex;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    align-items: flex-start; */
    width: 100%;
    /* float: left;
    width: 100%; */
    min-height: 50px;
}

.infoHolderWithNote {
    min-height: 70px;
}

.noLessons {
    background-color: #F8F8F8;
    border-bottom: 2px solid lightgray;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    padding: 0;
    min-height: 50px;
    color: #5e5e5e;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.infoHolder div,
.infoHolderWithNote div {
    float: left;
}

.startTime {
    font-size: 1em;
    color: #5E5E5E;
    font-weight: 700;
    padding: 0 0 0 7px;
}

.endTime, .weekNumber {
    font-size: 0.8em;
    color: #999999;
}

.weekNumberHolder {
    min-width: 30px;
}

.weekNumber {
    font-size: 0.9em;
    margin-left: 5px;
}

.subjectName, .subjectNameMargin {
    color: #5E5E5E;
    font-size: 0.9em;
    flex-shrink: 3;
    padding-top: 1.5px;
    margin-left: 10px;
}

.subjectNameMargin {
    margin-left: 7.5%;
}

.groupNumber {
    color: #337ab7;
    font-size: 0.85em;
    padding: 0 0 0 5px;
    cursor: pointer;
}

.groupNumber:hover,
.groupNumber:active {
    cursor: pointer;
    color: #23527C;
}

.note {
    font-size: 0.85em;
    color: red;
    padding: 1.5px 0 0 5px;
}

.location {
    color: #5E5E5E;
    font-size: 0.95em;
    /* position: absolute;
    padding-top: 1.5px;
    right: 0; */
    padding-top: 1.5px;
    float: right !important;
}

.subgroup {
    font-size: 0.85em;
    padding-top: 25px;
    margin-right: -50px;
    float: right !important;
    color: #999999;
}

@media (min-width: 500px) {
    .scheduleItemHolder {

        width: 100%;
    }
}