.employeeScheduleHolder {
    /* width: 45%;   */
    width: 45%;
    min-width: 850px;
    margin:auto;
    /* margin-top: 5%; */
    text-align: center;
}

.heading {
    font-family: 'Roboto', sans-serif;
    color: #555555 !important;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.1;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.searchHolder {
    width: 60%;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.yearHolder, .weekHolder {
    color: #BD7569;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    font-size: 1.1em;
}

.weekHolder {
    color: #D34933;
}

.employeeIcon {
    width: 15%;
    border-radius: 100%;
}

.employeeIcon:active,
.employeeIcon:focus {
    outline: none;
}

.fullName {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: #3a547f;
    font-size: 1.2em;
    line-height: 28.5714px;
    font-weight: 700;
    box-sizing: border-box;
}

.lessonsPeriod {
    color: #5e5e5e;
    line-height: 20px;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    display: inline-flex;
    margin: auto;
    width: 55%;
    justify-content: center;
}

.floatRight {
    /* display: table-cell;
    padding-left: 100px; */
    margin-left: 5%;
}

.customTabs {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #3a547f;
    font-size: 0.9em;
    /* border-top-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important; */
}

.customTabs:active,
.customTabs:focus {
    /* border-bottom: 2px solid #96CE23 !important; */
    /* border-top-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important; */
    color: #3a547f !important;
}

.customTabs:hover {
    background-color: #FAFAFA !important;
    color: #3a547f !important;
    /* border-top-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important; */
}

.gridHolder {
    width: 110%;
    border-right: 1px solid #DEE2E6;
    padding: 2% 1% 0 0;
}

.scheduleTableHolder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.filterHolder {
    padding: 2% 0 0 1%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.42857143;
}

.actualInfoHolder {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    vertical-align: top;
    /* justify-content:center; */
}

.actualInfoBlock {
    width: 100%;
    /* display: inline-block;
    vertical-align: top; */
}

.infoHeading {
    background-color: #667A9A;
    color: white;
    text-align: left;
    padding: 1px 0 1px 10px;    
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

.infoBody, .infoBodyAnnouncements {
    background-color: #F8F8F8;
    border-bottom: 2px solid lightgray;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    padding: 0;
    min-height: 50px;
    color: #5e5e5e;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.infoBodyAnnouncements {
    text-align: left;
    line-height: 20px;
}

.announcementData {
    font-size: 0.9em;
    font-weight: 700;
}

.announcementContent {
    font-weight: 400;
    font-size: 0.8em;
    text-align: left;
}

.supportData {
    color: #5e5e5e;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 30px;
}

.supportData a {
    color: #337AB7;
}

.supportData a:hover,
.supportData a:active {
    color: #23527C;
}

.alertHolder {
    width: 600px;
    text-align: center;
    margin:auto;
}

.clickable {
    cursor: pointer;
}