@media (max-width: 1010px) {
    .NavigationItem {
        background-color: #e6e6e6;
        border-top: 1px solid white;
        font-size: 1.8em;
        padding: 1%;
        padding-left: 7%;
    }

    .NavigationItem:hover {
        background-color: #d6d6d6;
    }

    .NavigationItem a {
        font-family: 'Roboto', sans-serif;
        color: #5e5e5e;
        width: 100% !important;
    }

    .NavigationItem a:hover,
    .NavigationItem a:focus,
    .NavigationItem a:hover {
        color: #5e5e5e;
        text-decoration: none;
    }
}

@media (min-width: 1010px) {

    .NavigationItem a {
        color: #4B687F;
        text-decoration: none;
        width: 100%;
        display: block;
        color: #5e5e5e;
        text-align: left;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        color: #4B687F;
    }
    
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        font-size: 0.9em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    .NavigationItem a,
    .linkWithDropdown {
        color: white;
        height: 100%;
        /* padding: 16px 15px; */
        padding: 0 15px;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active,
    .linkWithDropdown:hover,
    .linkWithDropdown:active,
    .linkWithDropdown.active {
        background-color: #4B687F;
        color: white;
        text-decoration: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdownContent {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 250px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 0 0 5px 5px;
    }
    
    .dropLink {
        color: black !important;
        padding: 10px !important;
        text-align: left;
    }

    .dropLink:hover,
    .dropLink:active {
        color: white !important;
    }
    
    .dropdown-content a:hover {
        background-color: #4B687F;
        color: white;
    }
    
    .dropdown:hover .dropdownContent {
        display: block;
    }
}


