.SideDrawer {
    position: fixed;
    width: 65%;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #d0d0d0;
    padding-top: 56px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 1010px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(55%);
}

.Close {
    transform: translateX(200%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}