.announcementsHolder {
    width: 40%;  
    margin:auto;
    /* margin-top: 5%; */
    text-align: center;
}

.heading {
    font-family: 'Roboto', sans-serif;
    color: #555555 !important;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.1;
    margin:auto;
    margin-top: 2%;
    text-align: center;
}

.searchHolder {
    width: 60%;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.tableWithAnnouncements {
    color: #5E5E5E !important;
    font-size: 0.9em !important;
    font-family: 'Roboto', sans-serif !important;
    table-layout: fixed;
}

.tableWithAnnouncements td,th, tr {
    word-wrap: break-word;
}

.noAnnouncements {
    width: 45%;
    padding: 1.5%;
    background-color: #F2DEDE;
    border-radius: 5px;
    border: 1px solid #EBCCD1;
    color: #A84442;
    margin: auto;
}