.defaultIconHolder {
    width: 25%;
    height: 25%;
}

.personalCardHolder {
    /* width: 80%; */
    width: 600px;
    border: 1px solid lightgray;
    margin: auto;
    margin-top: 15px;
    padding: 2%;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    /* align-content: space-around; */
}

.personalDataHolder {
    margin-left: 5%;
    text-align: left;
    font-size: 0.9em;
    color: #5E5E5E;
    font-family: 'Roboto', sans-serif;
}

.personalDataHolder ul {
    margin-bottom: 0;
}

.personalDataHolder a {
    color: #337AB7;
}

.personalDataHolder a:hover,
.personalDataHolder a:active {
    color: #35547C;
}

.fullNameHeader {
    font-size: 1.4em;
}