.footerSpacer {
    background-color: #E6E6E6;
    height: 65px;
    /* position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px; */
    /* position: sticky;
    bottom: 0;
    width: 100%; */
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

.footer span + span:before {
    content: "|";
    padding: 0 3px;
    color: #6F737A;
}

.supportLink {
    color: #337AB7;
    text-decoration: none;
    font-size: 0.9em;
}

.supportInfo {
    color: #6F737A;
    line-height: 1.1;
}

.supportLink:hover,
.supportLink:active,
.supportLink.active,
.supportInfo a:hover,
.supportInfo a:active,
.supportInfo a.active {
    color: #35577C;
    text-decoration: underline;
}

.bsuirInfoFooter {
    color: #6f6f6f;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 2% 5px 31% !important;
    width: 38%;
    text-align: center;
}

.bsuirNameFooter {
    margin: auto 3px !important;
}

.bsuirLogoFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 !important;
}

.bsuirLogoFooterImg {
    background-color: #3A547F;
}

.bsuirAddressFooter {
    margin: 0 !important;
}

.payLogoContainer {
    text-align: center;
}

.payLogoImg {
    width: 40%;
    text-align: center;
}

.footer {
    position: relative;
    margin-top: 30px;
    width: 100%;
    background-color: #E6E6E6;
    height: 65px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}