.heading, .infoHeading {
    color: #3a547f;
    font-size: 1em;    
    font-weight: 700;
    text-align: left;
}

.infoHeading {
    margin-top: 5%;
}

.weekNumberHolder,.subgroupHolder {
    font-size: 0.9em;
    color:#5E5E5E;
    text-align: left;
}

.subgroupHolder {
    margin-top: 5%;
}

.selectAllCheckboxesButton {
    border: none;
    font-size: 0.9em;
    width: 25%;
    color:#5E5E5E;
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
}

.selectAllCheckboxesButton:hover {
    outline: none;
    background-color: lightgray;
}

.checkboxWeekHolder, .checkboxSubgroupHolder {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkboxSubgroupHolder {
    width: 25%;
}

.checkLabel {
    margin: 0;
    font-size: 0.95em;
    color:#5E5E5E;
}

.downloadButton {
    width: 15%;
    height: 15%;
    cursor: pointer;
}

.buttonsHolder {
    text-align: left;
}

.modalHolder {
    max-width: 900px !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9em !important;
}

.modalDataHeading {
    font-family: 'Roboto', sans-serif;
    font-size: 1.05em;
    font-weight: 700;
    color: #3a547f;
}

.modalHolder a {
    color: #337ab7;
}

.modalHolder a:hover,
.modalHolder a:active,
.calendarIdHolder {
    color: #3a547f 
}

.modalHeader {
    color: white;
    background-color: #3a547f;
    font-size: 0.8em !important;
}