@media (min-width: 1010px){

    .mobileNav {
        display: none;
    }

    .NavigationItems {
        margin:auto;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 100%;
        cursor: pointer;
    }

    .Logo {
        height: 80%;
        margin-right: 15px;
    }

    .accountAvatar {
        -webkit-border-radius: 19px;
        -moz-border-radius: 19px;
        border-radius: 19px;
        height: 38px;
        min-height: 38px;
        min-width: 38px;
        margin-right: 10px;
        float: left;
        margin-top: -7px;
    }

    .accountLabel {
        float: right;
    }
}

@media (max-width: 1010px) {
    .Logo {
        display: none;
    }

    .desktopNav {
        display: none;
    }

    .NavigationItems {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .signinButton {
        margin-top: 10%;
        border-bottom: 1px solid white;
    }
}