.container {
    width: 900px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin:auto;
}

.heading {
    color: #555555 !important;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.1;
    margin:auto;
    margin-top: 2%;
    text-align: center;
}

.searchHolder {
    width: 500px;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 20px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.searchHolder:focus {
    color: #495057;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.support {
    color: #5E5E5E;
    font-weight: 500;
    font-size: 0.9em;
    margin: auto;
}

.support a {
    color: #337ab7;
    text-decoration: none;
}

.tablePhonebook {
    color: #5e5e5e !important;
    font-size: 0.9em;
    text-align: left;
}

.tablePhonebook thead {
    text-align: center;
}

.departmentContent {
    font-size: 0.85em;
}

.clickable {
    color: #337ab7;
    cursor: pointer;
}

.clickable:hover,
.clickable:focus,
.clickable:active {
    color: #2352A3;
    text-decoration: underline;
}

.employeeHolder {
    margin-bottom: 10px;
}

.alertHolder {
    width: 600px;
    text-align: center;
    margin:auto;
}