@media (min-width: 1010px){

    .container {
        width: 1000px;
        margin: auto;
    }

    .imageHolder {
        float: left;
    }

    .message {
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        color: #5e5e5e;
        position: relative;
        top: 200px;
        left: 50px;
    }

}

@media (max-width: 1010px){
    .imageHolder {
        text-align: center;
    }

    .message {
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        color: #5e5e5e;
        text-align: center;
        margin-top: 20px;
    }

}