html, body, #root, .App {
  height: 100% !important;
}

body {
  /* min-height: 5000px; */
  /* margin: 2em; */
  font-family: "Segoe UI", Arial, sans-serif;
  color: #222222 !important;
  background-color: #fff !important;
  height: auto;
  overflow-y: auto;  
}
