.container {
    width: 700px;
    border: 1.5px solid #D0C9C9;
    border-radius: 3px;
    padding: 25px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.container h3 {
    margin-left: 25px;
    margin-bottom: 20px;
}

.container h5 {
    margin-top: 10px;
}

.imageHolder {
    float: left;
    margin-left: 25px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.personalDataHolder {
    font-size: 0.9em;
    margin-bottom: 70px;
}

.personalDataHolder a {
    color: #337ab7;
    cursor: pointer;
}

.personalDataHolder a:hover,
.personalDataHolder a:focus,
.personalDataHolder a:active {
    color: #2352A3;
    text-decoration: underline;
}

.personalDataHolder ul {
    list-style-type: none;
}

.clickable {
    color: #337ab7;
    cursor: pointer;
}

.clickable:hover,
.clickable:focus,
.clickable:active {
    color: #2352A3;
    text-decoration: underline;
}

.favicon {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.content {
    font-size: 0.9em;
}

.content p {
    margin-bottom: 0;
    margin-left: 20px;
}
